<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Dashboard Actions</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/" routerLinkActive="active">
          <span data-feather="file"></span>
          All Contacts
        </a>
      </li>
      
      
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Saved reports</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="inactive_contacts" routerLinkActive="active">
          <span data-feather="file-text"></span>
          Inactive Contacts
        </a>
      </li>
      

    </ul>
  </div>
</nav>